body, html{
    margin: 0;
    background-color: #343434;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.centered-page{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* outline: 1px solid red; */
    width: 110vh;
    height: 65vh;
    border-radius: 1em;
    background-color: #28282B;

}

.header-label{
    color: #F5F5F5;
    font-size: 2em;
    margin: .2em;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.content-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}
label{
    color: lightgray;
    font-size: 1em;
}
input{
    padding: .7em;
    background: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    color: white;
    font-size: 1.1em;
    margin: .2em 1em;

}
.select{
    padding: .7em;
    background: #28282B;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    margin: .2em 1.2em;
    color: white;
    font-size: 1em;
}
.submit-action{
    
height: 5em;

    
}
.hidden{
    display: none;
}
button{
    /* width: 100%; */
    padding: 0.7em;
    border-radius: .5em;
    border: 1px solid gray ;
    background: transparent;
    color: white;
    cursor: pointer;
    
}
.alt{
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.alt button{
    border: none;
}
a{
    text-decoration: none;
    color: lightgray;
}

/* Landingpage */
main{
    margin: 2em 5em;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: lightgray;
    justify-content: space-between;
    
}
.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header2 ul, .header3 ul{
    list-style: none;
    display: flex;
}
.header2 ul li{
    margin-inline: 2em;
}
.header3 ul li{
    margin-inline: .5em;
}
.hero-section{
    height: 80vh;
    width: 100%;
    outline: 1px solid red;
    display: flex;
    flex-direction: row;
}
.hero-section h1{
    font-size: 5em;
    color: whitesmoke;
}
.hero-section p{
    font-size: 1em;
    color: gray;
}
.left, .right{
    width: 50%;
    
}